#sidebar {
    max-width: 15%;
    background: #2b2d42 !important;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    bottom: 0;
    top: 0;
    position: fixed;
}

    #sidebar.active {
        margin-left: -300px;
    }

    #sidebar .logo {
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }

        #sidebar .logo span {
            display: block;
        }

    #sidebar ul.components {
        padding: 0;
    }

    #sidebar ul li {
        font-size: 16px;
    }

        #sidebar ul li > ul {
            margin-left: 10px;
        }

            #sidebar ul li > ul li {
                font-size: 14px;
            }

        #sidebar ul li a {
            /*padding: 10px 0;*/
            display: block;
            color: #ecf0f1;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            /*margin-left: 4px;*/
        }

            #sidebar ul li a:hover {
                color: #f8b739;
            }

        #sidebar ul li.active > a {
            background: transparent;
            color: #f39c12 !important;
        }

.config {
    bottom: 0;
    position: fixed;
    color: yellow;
}


