body {
    background-color:lightgray;
}

.ResultGraph, .UploadFile, .Export, .EntityMapping {
    margin:10px;
    padding:1%;
    border:2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ACACAC;
    margin-bottom: 20px;
}
